<a class="absolute inset-0 w-full h-full z-20" href="newcard.html"></a>
<div class="absolute inset-0 w-full h-full rounded-xl bg-[#181818] shadow-block-md z-0 
group-one-hover:scale-105 group-one-hover:shadow-block-md group-one-hover:shadow-apple-action 
duration-300 ease-in" content=""></div>
<label class="hidden cardselect z-40 inline-flex absolute inset-0 w-full h-full items-center cursor-pointer">
    <input type="checkbox" value="" class="cardselect sr-only peer">
    <span class="w-full h-full bg-black bg-opacity-30 rounded-xl peer-checked:bg-opacity-0 peer-checked:border-2 peer-checked:border-apple-action
    group-one-hover:scale-105 duration-300"></span>
</label>
<span class="text-lg font-bold z-10">{{task.time}}</span>
<div class="z-10">
    <span class="text-base line-clamp-1">{{task.title}}</span>
    <p class="text-sm font-light line-clamp-2">{{task.description}}</p>
</div>
<span class="ml-auto text-apple-action z-30 group-two hover:scale-125 duration-500 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-two-hover:opacity-0 group-two-hover:h-0">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-0 text-gray-500 opacity-0 group-two-hover:opacity-100 group-two-hover:h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.143 17.082a24.248 24.248 0 003.844.148m-3.844-.148a23.856 23.856 0 01-5.455-1.31 8.964 8.964 0 002.3-5.542m3.155 6.852a3 3 0 005.667 1.97m1.965-2.277L21 21m-4.225-4.225a23.81 23.81 0 003.536-1.003A8.967 8.967 0 0118 9.75V9A6 6 0 006.53 6.53m10.245 10.245L6.53 6.53M3 3l3.53 3.53" />
    </svg>                      
</span>
<app-card-context class="contextcard context hidden absolute z-[105] rounded-xl bg-[#202020] shadow-md shadow-black flex flex-col 
font-light text-base text-apple-action" [task]="task" (removeEmitter)="removeRequest($event)">
</app-card-context>
